.checkout{
    display: flex;
    padding: 20px;
    height: max-content;
    background-color: white;
}
.checkout__add{
    width: 100%;
    margin-bottom: 10px;
    padding: 0px;
}
.checkout__title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;

    margin-left: 80px;

}